@import "bootstrap_custom";
@import "speech-bubble";
.navbar{
    margin: 0;
}
.row{
    margin-bottom: 0px;
}

html{
     position: relative;
    min-height: 100%;
}

body{
margin-bottom: 60px;
}

footer{
    height: 60px;
    bottom: 0;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    background: #fff;
    border-top: 1px solid #E7E9F0;

}

h1 {
    text-align: center;
}

#sidebar-wrapper {
  width: 200px;
  background-color: #565C98;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}

.selected-contact {
     background: #7473BD;
}

.sidebar-nav li a:hover {
  background: #A6A2DC;
  color: white;
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
    transition: 0s;
}

.chat-content {
    margin-left: 250px;
}